/*! Author: Divya Ranjan*/
@import "https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Marck+Script";
* {
  font-family: "Poppins", sans-serif;
}
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
.intro {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  /*color: #fff;*/
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #353c44),
    color-stop(7000, #23252b)
  );
  /*background-color: #000;*/
  background: url(../images/1.png) no-repeat;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
@media only screen and (max-device-width: 768px) {
    .intro {
        background-attachment: scroll;
    }
}
#second_body {
  background-image: -ms-linear-gradient(top, #353c44 0%, #23252b 7000%);
  background-image: -moz-linear-gradient(top, #353c44 0%, #23252b 7000%);
  background-image: -o-linear-gradient(top, #353c44 0%, #23252b 7000%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #353c44),
    color-stop(7000, #23252b)
  );
  background-image: -webkit-linear-gradient(top, #353c44 0%, #23252b 7000%);
  background-image: linear-gradient(to bottom, #353c44 0%, #23252b 7000%);
X}

html {
  width: 100%;
  height: 100%;
}
.logo img {
  display: block;
  margin: 20vh auto;
}
blockquote {
  border-left: 0;
  font-weight: lighter;
}
blockquote.quote {
  line-height: normal !important;
  max-width: 80vw;
}
blockquote.headline {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Marck Script", cursive;
  letter-spacing: 1px;
  line-height: 180%;
}
.headline_extra {
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
}
.soundcloud {
  background: #ffffff;
  border-top: 3px solid #ff4400;
  -webkit-box-shadow: 0px 0px 50px 2px #000000;
  box-shadow: 0px 0px 50px 2px #000000;
}
#highlighted-text {
  display: inline;
  background: #ffdd8b;
  color: #45381a;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 5px;
  min-width: 200px;
  margin: 15px auto;
  text-align: left;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul.links {
  text-align: center;
}
.footer-content {
  padding: 30px;
}
.links li {
  color: #f9f9f9;
  list-style: none;
  display: inline-block;
}
.links li a {
  padding: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 280%;
}
.copyright {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
}
.space {
  height: 5px;
}
.space-10 {
  height: 10px;
}
.space-20 {
  height: 20px;
}
.space-80 {
  height: 80px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

#we_inspire_h {
  margin:150px auto 20px;
  text-align: center; 
  color: #fff;
}
.sub_quote {
  color:#fff;
  text-shadow: 1px 1px 1px #2B2B2B;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 180%;
  font-size: 1.1em;
  padding-left: 10px;
  padding-right: 10px;
}
/*Navigation*/
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom,
.navbar-brand,
.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}
.menu_img {
  padding-top: 10px;
  width: 100px;
}

.page-scroll {
  font-size: 11px;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #000;
  }
  #nav-modified {
    margin-left: 3%;
  }
}
@media (max-width: 767px) {
  .menu_img {
    padding-left: 10px;
  }
  .sm-links {
    float: right;
    position: relative !important;
    padding-top: 13px !important;
  }
  #we_inspire_h {
    margin:90px auto 20px;
  }
  .logo img{
    margin: 10vh auto 20vh;
  }
}
}

.font-l {
  font-size: large;
}

.sm-links {
  padding: 10px;
  right: 0;
  top: 0;
  position: absolute;
}
.color_text {
  color: #fff;
}

/*Startup c0ver image*/
.sheep_cover {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/sheep_bg.jpg) no-repeat;
    background-color: #000;
    background-attachment: fixed;
    background-position: bottom center;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media only screen and (max-device-width: 768px) {
    .sheep_cover {
        background-attachment: scroll;
    }
    .sheep-text {
      font-size: 14px !important;
      top: 70px !important;
    }
}
@media(min-width:768px) {
    .sheep_cover {
        height: 100%;
        padding-top: 24%;
        padding-bottom: 24%;
    }
}
.sheep-text {
    font-size: 26px;
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
}
/*teaser-text*/
    .teaser{width:100%;padding:0;margin:0;background-attachment:fixed;background-repeat:no-repeat; border-top:5px solid rgba(0,0,0,0.2);border-bottom:5px solid rgba(0,0,0,0.2);color:#fff;}
    .teaser.fixed{}
    .teaser .teaser-title{display:table;background:transparent url(../images/ui_epicslider/pattern.png) repeat;}
    .teaser-title h4,.teaser-title h6{display: block; vertical-align:middle; color:#fff !important;}